<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    작성자 : <%= data.name %>
        <ul>
            <% data.Posts.forEach((el)=> { %>
                <li>
                    <%= el.id %>. <%= el.content %>
                </li>
                <form action="/update/<%= el.id %>">
                    <button>수정</button>
                </form>
                <form action="/delete/<%= el.id %>">
                    <button>삭제</button>
                </form>
                <% }) %>
        </ul>
</body>

</html>